*{margin: 0;
padding: 0;
box-sizing: border-box;}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

img {
    width: 20%;

}

.text {
    text-align: center;


    font-family: "Montserrat", sans-serif;

    font-size: 30px;
    margin-top: 5%;
}

.p2 {
    font-weight: bold;
}

.button1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    height: 80px;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    background-color: yellow;
    cursor: pointer;
    }

   